s<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/jquery.js"></script>
  <script src="../js/script.js"></script>
</head>
<body>

  <div class="container">
    <nav>
      <a href="/crimes/">Back to Crimes: </a>
      <a href="/crimes/new">Search for a crime: </a>
      <a href="/user/logout">Log Out</a>
    </nav>
    <!--  --><h1>1 crime</h1>
    <div class="main-crime">
        
        <h3>You selected the following crime:</h3>
        <div class="single-crime-edit">
          <h3>Case Number: {{case_number}}</h3>
          <h3>Offense: {{offense}}</h3>
          <h3>Borough: {{borough}}</h3>
          <h3>Location: {{place_of_occurrance}}</h3>
          <a class="fake-button" href="/crimes/{{id}}/edit">Edit</a>
          <button id="delete-crime" data-id="{{id}}">Delete</button>
        </div>

    </div>
  </div>

</body>
</html>
