<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <a href="/crimes/">Saved Crimes</a>
            <a href="/user/logout">Log Out</a>
        </nav>
        <!-- <h1>Look for crimes</h1> -->
        <h2>Search for crimes using the following criteria</h2>


        <div class="filters">
            <select id="borough">
                <option>BROOKLYN</option>
                <option>MANHATTAN</option>
                <option>BRONX</option>
                <option>QUEENS</option>
                <option>STATEN ISLAND</option>
            </select>
            <select id="offense">
                <option>RAPE </option>
                <option>SEX CRIMES</option>
                <option>MISCELLANEOUS PENAL LAW</option>
            </select>
<!--             <select id="jurisdiction">
                <option>NYPD</option>
                <option>NY Housing Police 2</option>
            </select> -->
            <select id="location">
                <option>INSIDE</option>
                <!-- <option>OUTSIDE</option> -->
                <option>FRONT OF</option>
                <option>OPPOSITE OF</option>
                <option>REAR OF</option>
            </select>
        </div>

        <form id="search">
            <!-- <input type="text" id="search-input" placeholder="Show Name" /> -->
            <button id="search-button">Search</button>
        </form>


        <h3><!-- Results --></h3>
        <div class="results">


        </div>
    </div>
</body>

</html>
